Loading Datasets

In [ ]:
train_n = 2000
valid_n = 500
test_n = 500

In [ ]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("pariza/bbc-news-summary")

print("Path to dataset files:", path)

BBC Dataset

In [ ]:
import os
import pandas as pd

In [ ]:
articles_path = os.path.join(path, "BBC News Summary/News Articles")
summaries_path = os.path.join(path, "BBC News Summary/Summaries")

In [11]:
data = []

for category in os.listdir(articles_path):
    article_dir = os.path.join(articles_path, category)
    summary_dir = os.path.join(summaries_path, category)

    if os.path.isdir(article_dir) and os.path.isdir(summary_dir):
        for filename in os.listdir(article_dir):
            article_file = os.path.join(article_dir, filename)
            summary_file = os.path.join(summary_dir, filename)

            if os.path.exists(summary_file):
                with open(article_file, "r", encoding="ISO-8859-1") as f:
                    article_text = f.read().strip()
                with open(summary_file, "r", encoding="ISO-8859-1") as f:
                    summary_text = f.read().strip()

                data.append(
                    {
                        # 'Category': category,
                        "Article": article_text,
                        "Summary": summary_text,
                    }
                )

In [12]:
bbc_df = pd.DataFrame(data)

bbc_df.to_csv("../data/bbc/bbc_dataset.csv", index=False)

In [13]:
bbc_df = pd.read_csv("../data/bbc/bbc_dataset.csv")

In [14]:
bbc_df.head()

,Article,Summary
0,Ad sales boost Time Warner profit\n\nQuarterly...,TimeWarner said fourth quarter sales rose 2% t...
1,Dollar gains on Greenspan speech\n\nThe dollar...,The dollar has hit its highest level against t...
2,Yukos unit buyer faces loan claim\n\nThe owner...,Yukos' owner Menatep Group says it will ask Ro...
3,High fuel prices hit BA's profits\n\nBritish A...,"Rod Eddington, BA's chief executive, said the ..."
4,Pernod takeover talk lifts Domecq\n\nShares in...,Pernod has reduced the debt it took on to fund...

In [15]:
bbc_df.isnull().sum()

Article    0
Summary    0
dtype: int64

In [16]:
bbc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225 entries, 0 to 2224
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Article  2225 non-null   object
 1   Summary  2225 non-null   object
dtypes: object(2)
memory usage: 34.9+ KB

Summarized IMDB Reviews

In [17]:
import kagglehub
from kagglehub import KaggleDatasetAdapter

file_path = "summary_reviews.csv"

path = kagglehub.dataset_download(
    "robber19/summarized-imdb-reviews",
)

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/robber19/summarized-imdb-reviews?dataset_version_number=1...

100%|██████████| 19.2M/19.2M [05:48<00:00, 57.8kB/s]

Extracting files...

Path to dataset files: C:\Users\VICTUS\.cache\kagglehub\datasets\robber19\summarized-imdb-reviews\versions\1

In [18]:
# Construct full file path
file_path = os.path.join(path, "summary_reviews.csv")

In [19]:
# Load the dataset
df = pd.read_csv(file_path)

In [20]:
# Clean and rename columns
df = df.rename(columns={"review": "Article", "summary_review": "Summary"})
df = df[["Article", "Summary"]]  # Keep only the desired columns

# Optional: reset index if needed
df.reset_index(drop=True, inplace=True)

# Show a preview
df.head()

,Article,Summary
0,One of the other reviewers has mentioned that ...,One of the other reviewers has mentioned that ...
1,A wonderful little production The filming tech...,A wonderful little production The filming tech...
2,I thought this was wonderful way to spend time...,I thought it was proof that Woody Allen is sti...
3,Basically there a family where little boy Jake...,Basically there a family where little boy Jake...
4,Petter Mattei Love in the Time of Money is vis...,Petter Mattei Love in the Time of Money is vis...

In [22]:
df.to_csv(f"../data/imdb/imdb.csv", index=False)